mat-toolbar {
    display: flex;
    background-color: white;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

button {
    color: white;
    margin-right: 10px;
    border-radius: 20px;
    line-height: 29px;
}

mat-divider {
    color: gray;
}
      
.title {
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
    color: white;
}

.buttons {
    display: flex;
}

.forms {
    background-color: white;
    color: #3f51b5;
}
