.content {
    display: flex;
    .contents {
        display: flex;
    }
    justify-content: space-between;
}

.forms {
    width: 400px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

    mat-form-field {
        height: 66px;
    }
}

.data {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

a {
    font-size: 18px;
    font-weight: bolder;
}
