.content {
    display: flex;
    .contents {
        display: flex;
    }
    justify-content: space-between;
}

.forms {
    width: 400px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

    mat-form-field {
        height: 66px;
    }
}

.map {
    width: calc(100% - 400px);
    position: relative;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
}

#confirm {
    width: 100%;
    height: 120px;
    background: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // transform: translateY(-100%);
    transition: transform 0.7s;
    padding: 30px 30px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    h3{
        font-weight: 500;
        font-size: 18px;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    button {
        margin-right: 20px
    }
}

.data {
    display: flex;
    flex-direction: column;
}
.header {
    color: #3d4ead;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

a {
    font-size: 18px;
    font-weight: bolder;
}

.trans-button {
    background-color: rgb(255, 255, 255);
    color: black;
}

.trans-buttons {
    background-color: #389e0d;
}
.trans-butto {
    background-color: #f5222d;
}

.button-custom {
    color: white;
}

.white-icon {
    color: white;
}

.trans-butt {
    background-color: #faad14;
}

mat-icon {
    color: black;
}